<!DOCTYPE HTML>
<html>
  <head>
    <title>Weight Mate</title>
    <link rel="stylesheet" href="/assets/css/styles.css" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <base href="/" />
  </head>
  <body>
    <h1><a href="/">Weight Mate</a></h1>
    {{{body}}}
  </body>
</html>
