<!DOCTYPE HTML>
<html>
  <head>
    <title>Weight Mate</title>
    <link rel="stylesheet" href="/assets/css/styles.css" >
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Marvel" rel="stylesheet">
    <base href="/" />
  </head>
  <body>
      {{{body}}}
  </body>
</html>
