html, body {
font-family: 'Open Sans', sans-serif;
background-color: lightgrey;
}

table {
  border-collapse: separate;
  border-spacing: .2em 2em;
  margin: 20px auto;
  width: 40%;
  vertical-align: middle;
}

th {
  font-weight: bold;
  text-transform: capitalize;
  width: 50%;
  border-top: 3px solid black;

}

td {
  text-align: center;
  border-top: 3px solid black;
}

img {
  display: block;
  margin: 10px auto;
  height: 200px;
  border-radius: 100px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.flex {
  margin: 0 auto;
  display: flex;
  width: 30%;
}

label {
  display: inline;
}

input {
  text-align:center;
  outline: none;
  margin: 0 auto;
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: none;
  background-color: transparent;
}

input:focus {
  border-bottom: 3px solid darkred;
  color: darkred;
}

nav {
  margin: 0 auto;
  border: 1px solid white;
  text-align: center;
}

.col-md-6 {
  width: 40%;
}

.gym-container {
  width: 100%;
  display: flex;
  justify-content:space-around;
}

.gym-container>div {
  width: 33.3%;
}

.left {
  border: 1px solid red;
}

.middle {
  border: 1px solid white;
  text-align: center;
}

.right {
  border: 1px solid blue;
}
