html, body {
font-family: 'Open Sans', sans-serif;
background-color: lightgrey;
}

table {
  border-collapse: separate;
  border-spacing: .2em 2em;
  margin: 20px auto;
  width: 40%;
  vertical-align: middle;
}

th {
  font-weight: bold;
  text-transform: capitalize;
  width: 50%;
  border-top: 3px solid black;
  border-bottom: 3px solid rgba(0,0,0,0);

}

td {
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 3px solid rgba(0,0,0,0);
}

img {
  display: block;
  margin: 10px auto;
  height: 200px;
  border-radius: 100px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.flex {
  margin: 0 auto;
  display: flex;
  width: 30%;
}

label {
  display: inline;
}

input {
  text-align:center;
  outline: none;
  margin: 0 auto;
  width: 100%;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: none;
  background-color: transparent;
}

input:focus {
  border-bottom: 3px solid darkred;
  color: darkred;
}
