<a data-ui-sref="show({_id: vm.user._id})">Return to profile</a>

<h2 data-ng-show="vm.user.gym">Your connections at {{vm.user.gym}}</h2>

<div data-ng-repeat="connectedUser in vm.connectedUsers">
  <button data-ng-click="vm.viewConnection(connectedUser)">{{connectedUser.username}}</button>
  <h3 data-ng-hide="vm.connectedUsers">No connections to show</h3>
</div>

<h2 data-ng-hide="vm.user.gym">You must belong to a gym before you can message other users. Complete your profile <a data-ui-sref="edit({_id: vm.user._id})">here</a>!</h2>

<h2 data-ng-show="vm.user.gym">Connect with other members of {{vm.user.gym}}</h2>

<div class="gym-container" data-ng-show="vm.gymusers" data-ng-repeat="gymuser in vm.gymusers | filter:vm.gymFilter">

  <div class="left">
    <p>Age: {{gymuser.age}}</p>
    <p>Weight: {{gymuser.weight}}</p>
    <p>Workout Frequency/Week: {{gymuser.workout_freq}}</p>
    <p>Workout Time: {{gymuser.workout_time}}</p>
  </div>

  <div class="middle">
    <h3>{{gymuser.username}}</h3>
    <img src="{{gymuser.img_url}}"/>
  </div>

  <div class="right">
    <p>Bench: {{gymuser.bench}}</p>
    <p>Backsquat: {{gymuser.squat}}</p>
    <p>Deadlift: {{gymuser.deadlift}}</p>
    <button data-ng-click="vm.openConnection(gymuser)">Connect with {{gymuser.username}}</button>
  </div>

</div>
