<h2>profile editor</h2>

<form>
  <table>
    <caption>user</caption>
    <tr>
      <th>first name</th>
      <td><input type="text" data-ng-model="vm.user.first_name" /></td>
    </tr>
    <tr>
      <th>last name</th>
      <td><input type="text" data-ng-model="vm.user.last_name" /></td>
    </tr>
    <tr>
      <th>email</th>
      <td><input value="vm.user.email" type="email" data-ng-model="vm.user.email" /></td>
    </tr>
    <tr>
      <th>image url</th>
      <td><input type="url" data-ng-model="vm.user.img_url" /></td>
    </tr>
  </table>

  <table>
    <caption>location</caption>
    <tr>
      <th>city</th>
      <td><input type="text" data-ng-model="vm.user.city" /></td>
    </tr>
    <tr>
      <th>state</th>
      <td><input type="text" data-ng-model="vm.user.state" /></td>
    </tr>
    <tr>
      <th>ZIP</th>
      <td><input type="text" data-ng-model="vm.user.zip" /></td>
    </tr>
    <tr>
      <th>street address</th>
      <td><input type="text" data-ng-model="vm.user.street_address1" /></td>
    </tr>
    <tr>
      <th>apt or condo #</th>
      <td><input type="text" data-ng-model="vm.user.street_address2" /></td>
    </tr>
    <tr>
      <th>your gym</th>
      <td><input type="text" data-ng-model="vm.user.gym" /></td>
    </tr>
  </table>

  <table>
    <caption>lifts &amp; workout prefs</caption>
    <tr>
      <th>age</th>
      <td><input type="number" data-ng-model="vm.user.age" /></td>
    </tr>
    <tr>
      <th>weight</th>
      <td><input type="number" data-ng-model="vm.user.weight" /></td>
    </tr>
    <tr>
      <th>workout frequency (per week)</th>
      <td><input type="number" data-ng-model="vm.user.workout_freq" /></td>
    </tr>
    <tr>
      <th>workout time</th>
      <td><input type="number" data-ng-model="vm.user.workout_time" /></td>
    </tr>
    <tr>
      <th>max bench press (lbs)</th>
      <td><input type="text" data-ng-model="vm.user.bench" /></td>
    </tr>
    <tr>
      <th>max back squat (lbs)</th>
      <td><input type="number" data-ng-model="vm.user.squat" /></td>
    </tr>
    <tr>
      <th>max deadlift (lbs)</th>
      <td><input type="number" data-ng-model="vm.user.deadlift" /></td>
    </tr>
  </table>
<button data-ng-click="vm.update()">update</button>
</form>
<button data-ng-click="vm.destroy()">delete</button>
