<h1 id="welcome-link"><a href="/">Weight Mate</a></h1>

<nav>
  <a data-ui-sref="connections({_id: vm.user1._id})">Return to connections</a>
</nav>

<h2>Your conversation with {{vm.user2.username}}</h2>

<div class="messages container">

  <div data-ng-repeat="message in vm.connection.messages | orderBy: 'sent_at'">
    <div ng-class="(message.user_id === vm.user1._id) ? 'user1' : 'user2'">{{message.content}} <span class="timestamp">Sent: {{message.sent_at | date: 'medium'}}</span></div>
  </div>

</div>

<form id="message-form" data-ng-submit="vm.createMessage()">
  <div id="message-input-container">
    <input id="message-input" type="text" placeholder="Type your message here" data-ng-model="vm.newMessage.content"/>
  </div>
      <button type="submit">send</button>
</form>
