<div class="bg" id="welcome-logreg">
  <h1 id="welcome-link"><a href="/">Weight Mate</a></h1>
    <div class="logreg">

      <h1>Register</h1>
      <p class="lead">Already a member? Please <a ui-sref="login">sign in</a> instead.</p>
      <form ng-submit="vm.create()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" placeholder="Enter username" ng-model="vm.user.username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.user.hash">
        </div>
        <button type="submit" class="btn btn-default">Register</button>
      </form>

  </div>
</div>
